In [71]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

In [72]:
# 그래프를 노트북 안에 그리기 위한 설정
%matplotlib inline

# 필요한 패키지와 라이브러리 가져온다.
import matplotlib as mpl 
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm 

# 사용할 폰트 지정하기 
# 내 컴퓨터에 해당 폰트가 설치 되어 있어야 사용 할 수 있다. (위에 있는 폰트 확인 방법을 사용 하여 확인 할 수 있다. ) 
plt.rcParams['font.family'] = 'Malgun Gothic'

# 그래프에서 마이너스 폰트 깨지는 문제에 대한 대처
plt.rcParams['axes.unicode_minus'] = False

In [73]:
warnings.simplefilter(action='ignore')
pd.set_option('display.max_columns', None)

In [74]:
df1 = pd.read_csv("./KPU_11_20181231_C_001.csv", names = ['STRD_YR','PLCST_NM','PLCST_CFDPT_NMPR','OCRN_TOTL','112_TOTL','PHSPH_PARTY_CRMNL_OCRN_CASCNT','PHSPH_PARTY_112_RPRT_CASCNT'])
df1.head()

,STRD_YR,PLCST_NM,PLCST_CFDPT_NMPR,OCRN_TOTL,112_TOTL,PHSPH_PARTY_CRMNL_OCRN_CASCNT,PHSPH_PARTY_112_RPRT_CASCNT
0,2018,가평,204,2853,18179,14,89
1,2018,강릉,408,6142,55646,15,136
2,2018,강원고성,117,756,5813,6,50
3,2018,강진,136,900,5562,7,41
4,2018,거제,377,7263,42661,19,113

In [75]:
df2 = pd.read_csv("./KPU_11_20171231_C_001.csv", names = ['STRD_YR','PLCST_NM','PLCST_CFDPT_NMPR','OCRN_TOTL','112_TOTL','PHSPH_PARTY_CRMNL_OCRN_CASCNT','PHSPH_PARTY_112_RPRT_CASCNT'])
df2.head()

,STRD_YR,PLCST_NM,PLCST_CFDPT_NMPR,OCRN_TOTL,112_TOTL,PHSPH_PARTY_CRMNL_OCRN_CASCNT,PHSPH_PARTY_112_RPRT_CASCNT
0,2017,가평,192,3283,16684,17,87
1,2017,강릉,401,6878,54179,17,135
2,2017,강원고성,114,962,5658,8,50
3,2017,강진,132,905,5427,7,41
4,2017,거제,361,9363,53609,26,149

In [76]:
df3 = pd.read_csv("./KPU_11_20161231_C_001.csv", names = ['STRD_YR','PLCST_NM','PLCST_CFDPT_NMPR','OCRN_TOTL','112_TOTL','PHSPH_PARTY_CRMNL_OCRN_CASCNT','PHSPH_PARTY_112_RPRT_CASCNT'])
df3.head()

,STRD_YR,PLCST_NM,PLCST_CFDPT_NMPR,OCRN_TOTL,112_TOTL,PHSPH_PARTY_CRMNL_OCRN_CASCNT,PHSPH_PARTY_112_RPRT_CASCNT
0,2016,가평,193,3416,17552,18,91
1,2016,강릉,394,7419,54856,19,139
2,2016,강원고성,119,985,6084,8,51
3,2016,강진,137,1048,6205,8,45
4,2016,거제,348,11551,66204,33,190

In [77]:
df = pd.concat([df1,df2,df3])

In [78]:
df['PLCST_NM'].unique()

array(['가평', '강릉', '강원고성', '강진', '거제', '거창', '경남고성', '경산', '경주', '고령',
       '고양', '고창', '고흥', '곡성', '공주', '과천', '광명', '광양', '광주', '광주광산',
       '광주남부', '광주동부', '광주북부', '광주서부', '괴산', '구례', '구리', '구미', '군산', '군위',
       '군포', '금산', '김제', '김천', '김포', '김해서부', '김해중부', '나주', '남양주', '남원',
       '남해', '논산', '단양', '담양', '당진', '대구강북', '대구남부', '대구달서', '대구달성',
       '대구동부', '대구북부', '대구서부', '대구성서', '대구수성', '대구중부', '대전대덕', '대전동부',
       '대전둔산', '대전서부', '대전유성', '대전중부', '동두천', '동해', '마산동부', '마산중부', '목포',
       '무안', '무주', '문경', '밀양', '보령', '보성', '보은', '봉화', '부산강서', '부산금정',
       '부산기장', '부산남부', '부산동래', '부산동부', '부산북부', '부산사상', '부산사하', '부산서부',
       '부산연제', '부산영도', '부산중부', '부산진', '부산해운대', '부안', '부여', '부천소사', '부천오정',
       '부천원미', '분당', '사천', '산청', '삼척', '상주', '서귀포', '서산', '서울강남', '서울강동',
       '서울강북', '서울강서', '서울관악', '서울광진', '서울구로', '서울금천', '서울남대문', '서울노원',
       '서울도봉', '서울동대문', '서울동작', '서울마포', '서울방배', '서울서대문', '서울서부', '서울서초',
       '서울성동', '서울성북', '서울송파', '서울수서', '서울양천', '서울영등포', '서울용산', '서울은평',
       '서울종로', '서울종암', '서울중랑', '서울중부', '서울혜화', '서천', '성남수정', '성남중원', '성주',
       '세종', '속초', '수원남부', '수원서부', '수원중부', '순창', '순천', '시흥', '아산', '안동',
       '안산단원', '안산상록', '안성', '안양동안', '안양만안', '양구', '양산', '양주', '양평', '여수',
       '여주', '연천', '영광', '영덕', '영동', '영암', '영양', '영월', '영주', '영천', '예산',
       '예천', '오산', '옥천', '완도', '완주', '용인동부', '용인서부', '울릉', '울산남부', '울산동부',
       '울산울주', '울산중부', '울진', '원주', '음성', '의령', '의성', '의왕', '의정부', '이천',
       '익산', '인제', '인천강화', '인천계양', '인천남동', '인천논현', '인천미추홀', '인천부평',
       '인천삼산', '인천서부', '인천연수', '인천중부', '일산동부', '일산서부', '임실', '장성', '장수',
       '장흥', '전주덕진', '전주완산', '정선', '정읍', '제주동부', '제주서부', '제천', '진도', '진안',
       '진주', '진천', '진해', '창녕', '창원서부', '창원중부', '천안동남', '천안서북', '철원', '청도',
       '청송', '청양', '청주상당', '청주청원', '청주흥덕', '춘천', '충주', '칠곡', '태백', '태안',
       '통영', '파주', '평창', '평택', '포천', '포항남부', '포항북부', '하남', '하동', '함안',
       '함양', '함평', '합천', '해남', '홍성', '홍천', '화성동탄', '화성서부', '화순', '화천',
       '횡성'], dtype=object)

In [79]:
df_d = df[(df['PLCST_NM'] == '대전대덕') | (df['PLCST_NM'] == '대전동부') | (df['PLCST_NM'] == '대전둔산') | (df['PLCST_NM'] == '대전서부') | (df['PLCST_NM'] == '대전유성') | (df['PLCST_NM'] == '대전중부')]
df_d

,STRD_YR,PLCST_NM,PLCST_CFDPT_NMPR,OCRN_TOTL,112_TOTL,PHSPH_PARTY_CRMNL_OCRN_CASCNT,PHSPH_PARTY_112_RPRT_CASCNT
55,2018,대전대덕,341,5564,38942,16,114
56,2018,대전동부,471,7652,57521,16,122
57,2018,대전둔산,426,8940,52372,21,123
58,2018,대전서부,371,6000,48828,16,132
59,2018,대전유성,437,8937,46212,20,106
60,2018,대전중부,458,8434,61248,18,134
55,2017,대전대덕,336,5902,41671,18,124
56,2017,대전동부,465,8064,56788,17,122
57,2017,대전둔산,422,8863,54570,21,129
58,2017,대전서부,364,6669,49722,18,137
59,2017,대전유성,427,8500,49369,20,116
60,2017,대전중부,447,8990,64546,20,144
55,2016,대전대덕,323,5684,42550,18,132
56,2016,대전동부,455,8346,60496,18,133
57,2016,대전둔산,413,9316,54442,23,132
58,2016,대전서부,346,6499,49250,19,142
59,2016,대전유성,415,9244,53173,22,128
60,2016,대전중부,435,9949,64785,23,149

In [80]:
df_c = df[(df['PLCST_NM'] == '천안동남') | (df['PLCST_NM'] == '천안서북') | (df['PLCST_NM'] == '서산') | (df['PLCST_NM'] == '아산') | (df['PLCST_NM'] == '논산') | (df['PLCST_NM'] == '공주') | (df['PLCST_NM'] == '보령') | (df['PLCST_NM'] == '당진') | (df['PLCST_NM'] == '홍성') | (df['PLCST_NM'] == '예산') | (df['PLCST_NM'] == '부여') | (df['PLCST_NM'] == '서천') | (df['PLCST_NM'] == '금산') | (df['PLCST_NM'] == '청양') | (df['PLCST_NM'] == '태안')]
df_c

,STRD_YR,PLCST_NM,PLCST_CFDPT_NMPR,OCRN_TOTL,112_TOTL,PHSPH_PARTY_CRMNL_OCRN_CASCNT,PHSPH_PARTY_112_RPRT_CASCNT
14,2018,공주,248,3215,33320,13,134
31,2018,금산,147,1054,8597,7,58
41,2018,논산,265,3987,27808,15,105
44,2018,당진,270,5129,34886,19,129
70,2018,보령,254,2994,24753,12,97
90,2018,부여,195,1354,10244,7,53
100,2018,서산,275,5215,36750,19,134
132,2018,서천,170,1326,11379,8,67
144,2018,아산,422,8968,63428,21,150
166,2018,예산,184,2216,14347,12,78
220,2018,천안동남,417,9315,38873,22,93
221,2018,천안서북,460,13487,81716,29,178
225,2018,청양,132,654,4722,5,36
233,2018,태안,170,1764,14998,10,88
248,2018,홍성,213,2701,17267,13,81
14,2017,공주,240,3139,29666,13,124
31,2017,금산,140,1134,8610,8,62
41,2017,논산,258,4222,28088,16,109
44,2017,당진,259,4843,31771,19,123
70,2017,보령,248,3322,24789,13,100
90,2017,부여,188,1441,10336,8,55
100,2017,서산,262,6904,37733,26,144
132,2017,서천,163,1298,14235,8,87
143,2017,아산,405,8627,69729,21,172
165,2017,예산,179,1862,14992,10,84
217,2017,천안동남,406,8433,36155,21,89
218,2017,천안서북,442,13949,82181,32,186
222,2017,청양,131,594,4634,5,35
230,2017,태안,162,70,1152,0,7
245,2017,홍성,210,2545,18159,12,86
14,2016,공주,238,3250,32810,14,138
31,2016,금산,139,1298,10641,9,77
41,2016,논산,253,4208,30878,17,122
44,2016,당진,249,5516,37288,22,150
70,2016,보령,250,3704,24161,15,97
90,2016,부여,178,1629,12729,9,72
100,2016,서산,393,7323,40805,19,104
132,2016,서천,165,1712,14395,10,87
143,2016,아산,375,8600,66158,23,176
165,2016,예산,177,2500,16874,14,95
216,2016,천안동남,388,9054,37052,23,95
217,2016,천안서북,424,14938,81762,35,193
221,2016,청양,128,679,5169,5,40
243,2016,홍성,202,2980,20649,15,102

In [81]:
df_d.columns = ['기준년도','경찰서명','경찰서부서별인원','발생합계','112합계','인당범죄발생건수','인당112신고건수']
df_c.columns = ['기준년도','경찰서명','경찰서부서별인원','발생합계','112합계','인당범죄발생건수','인당112신고건수']

In [82]:
df_d = df_d.groupby(['경찰서명']).mean()

In [83]:
df_c = df_c.groupby(['경찰서명']).mean()

In [84]:
df_d['경찰서부서별인원'] = df_d['경찰서부서별인원'].astype(int)
df_d['기준년도'] = df_d['기준년도'].astype(int)
df_d['발생합계'] = df_d['발생합계'].astype(int)
df_d['112합계'] = df_d['112합계'].astype(int)
df_d['인당범죄발생건수'] = df_d['인당범죄발생건수'].astype(int)
df_d['인당112신고건수'] = df_d['인당112신고건수'].astype(int)

In [85]:
df_d.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, 대전대덕 to 대전중부
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   기준년도       6 non-null      int32
 1   경찰서부서별인원   6 non-null      int32
 2   발생합계       6 non-null      int32
 3   112합계      6 non-null      int32
 4   인당범죄발생건수   6 non-null      int32
 5   인당112신고건수  6 non-null      int32
dtypes: int32(6)
memory usage: 192.0+ bytes

In [86]:
df_c['경찰서부서별인원'] = df_c['경찰서부서별인원'].astype(int)
df_c['기준년도'] = df_c['기준년도'].astype(int)
df_c['발생합계'] = df_c['발생합계'].astype(int)
df_c['112합계'] = df_c['112합계'].astype(int)
df_c['인당범죄발생건수'] = df_c['인당범죄발생건수'].astype(int)
df_c['인당112신고건수'] = df_c['인당112신고건수'].astype(int)

In [87]:
df_d.head()

      기준년도  경찰서부서별인원  발생합계  112합계  인당범죄발생건수  인당112신고건수
경찰서명
대전대덕  2017       333  5716  41054        17        123
대전동부  2017       463  8020  58268        17        125
대전둔산  2017       420  9039  53794        21        128
대전서부  2017       360  6389  49266        17        137
대전유성  2017       426  8893  49584        20        116

In [88]:
df_c.head()

      기준년도  경찰서부서별인원  발생합계  112합계  인당범죄발생건수  인당112신고건수
경찰서명
공주    2017       242  3201  31932        13        132
금산    2017       142  1162   9282         8         65
논산    2017       258  4139  28924        16        112
당진    2017       259  5162  34648        20        134
보령    2017       250  3340  24567        13         98

In [89]:
df_d['xmap'] = ''
df_d['ymap'] = ''

In [90]:
df_d = df_d.reset_index()

In [91]:
df_d.loc[df_d.경찰서명 == '대전대덕','ymap'] = 36.371255
df_d.loc[df_d.경찰서명 == '대전대덕','xmap'] = 127.429395

df_d.loc[df_d.경찰서명 == '대전동부','ymap'] = 36.371255
df_d.loc[df_d.경찰서명 == '대전동부','xmap'] = 127.429395
# 대전 대덕 = 대전 동부

df_d.loc[df_d.경찰서명 == '대전둔산','ymap'] = 36.358191
df_d.loc[df_d.경찰서명 == '대전둔산','xmap'] = 127.380430

df_d.loc[df_d.경찰서명 == '대전서부','ymap'] = 36.308669
df_d.loc[df_d.경찰서명 == '대전서부','xmap'] = 127.373114

df_d.loc[df_d.경찰서명 == '대전유성','ymap'] = 36.378620
df_d.loc[df_d.경찰서명 == '대전유성','xmap'] = 127.325472

df_d.loc[df_d.경찰서명 == '대전중부','ymap'] = 36.326757
df_d.loc[df_d.경찰서명 == '대전중부','xmap'] = 127.422688

In [92]:
df_d

,경찰서명,기준년도,경찰서부서별인원,발생합계,112합계,인당범죄발생건수,인당112신고건수,xmap,ymap
0,대전대덕,2017,333,5716,41054,17,123,127.429395,36.371255
1,대전동부,2017,463,8020,58268,17,125,127.429395,36.371255
2,대전둔산,2017,420,9039,53794,21,128,127.38043,36.358191
3,대전서부,2017,360,6389,49266,17,137,127.373114,36.308669
4,대전유성,2017,426,8893,49584,20,116,127.325472,36.37862
5,대전중부,2017,446,9124,63526,20,142,127.422688,36.326757

In [93]:
df_c['xmap'] = ''
df_c['ymap'] = ''

In [94]:
df_c = df_c.reset_index()

In [95]:
df_c

    경찰서명  기준년도  경찰서부서별인원   발생합계  112합계  인당범죄발생건수  인당112신고건수 xmap ymap
0     공주  2017       242   3201  31932        13        132
1     금산  2017       142   1162   9282         8         65
2     논산  2017       258   4139  28924        16        112
3     당진  2017       259   5162  34648        20        134
4     보령  2017       250   3340  24567        13         98
5     부여  2017       187   1474  11103         8         60
6     서산  2017       310   6480  38429        21        127
7     서천  2017       166   1445  13336         8         80
8     아산  2017       400   8731  66438        21        166
9     예산  2017       180   2192  15404        12         85
10  천안동남  2017       403   8934  37360        22         92
11  천안서북  2017       442  14124  81886        32        185
12    청양  2017       130    642   4841         5         37
13    태안  2017       166    917   8075         5         47
14    홍성  2017       208   2742  18691        13         89

In [96]:
df_c.loc[df_c.경찰서명 == '공주','ymap'] = 36.456455
df_c.loc[df_c.경찰서명 == '공주','xmap'] = 127.110490

df_c.loc[df_c.경찰서명 == '금산','ymap'] = 36.103495
df_c.loc[df_c.경찰서명 == '금산','xmap'] = 127.503510

df_c.loc[df_c.경찰서명 == '논산','ymap'] = 36.158114
df_c.loc[df_c.경찰서명 == '논산','xmap'] = 127.017390

df_c.loc[df_c.경찰서명 == '당진','ymap'] = 36.894134
df_c.loc[df_c.경찰서명 == '당진','xmap'] = 126.640212

df_c.loc[df_c.경찰서명 == '보령','ymap'] = 36.351479
df_c.loc[df_c.경찰서명 == '보령','xmap'] = 126.596860

df_c.loc[df_c.경찰서명 == '부여','ymap'] = 36.275365
df_c.loc[df_c.경찰서명 == '부여','xmap'] = 126.902639

df_c.loc[df_c.경찰서명 == '서산','ymap'] = 36.776987
df_c.loc[df_c.경찰서명 == '서산','xmap'] = 126.447008

df_c.loc[df_c.경찰서명 == '서천','ymap'] = 36.009450
df_c.loc[df_c.경찰서명 == '서천','xmap'] = 126.692088

df_c.loc[df_c.경찰서명 == '아산','ymap'] = 36.771063
df_c.loc[df_c.경찰서명 == '아산','xmap'] = 127.022723

df_c.loc[df_c.경찰서명 == '예산','ymap'] = 36.680259
df_c.loc[df_c.경찰서명 == '예산','xmap'] = 126.847300

df_c.loc[df_c.경찰서명 == '천안동남','ymap'] = 36.786788
df_c.loc[df_c.경찰서명 == '천안동남','xmap'] = 127.156144

df_c.loc[df_c.경찰서명 == '천안서북','ymap'] = 36.857681
df_c.loc[df_c.경찰서명 == '천안서북','xmap'] = 127.136831

df_c.loc[df_c.경찰서명 == '청양','ymap'] = 36.463921
df_c.loc[df_c.경찰서명 == '청양','xmap'] = 126.794615

df_c.loc[df_c.경찰서명 == '태안','ymap'] = 36.757472
df_c.loc[df_c.경찰서명 == '태안','xmap'] = 126.288979

df_c.loc[df_c.경찰서명 == '홍성','ymap'] = 36.588269
df_c.loc[df_c.경찰서명 == '홍성','xmap'] = 126.657889

In [97]:
df_d

,경찰서명,기준년도,경찰서부서별인원,발생합계,112합계,인당범죄발생건수,인당112신고건수,xmap,ymap
0,대전대덕,2017,333,5716,41054,17,123,127.429395,36.371255
1,대전동부,2017,463,8020,58268,17,125,127.429395,36.371255
2,대전둔산,2017,420,9039,53794,21,128,127.38043,36.358191
3,대전서부,2017,360,6389,49266,17,137,127.373114,36.308669
4,대전유성,2017,426,8893,49584,20,116,127.325472,36.37862
5,대전중부,2017,446,9124,63526,20,142,127.422688,36.326757

In [98]:
df_c

,경찰서명,기준년도,경찰서부서별인원,발생합계,112합계,인당범죄발생건수,인당112신고건수,xmap,ymap
0,공주,2017,242,3201,31932,13,132,127.11049,36.456455
1,금산,2017,142,1162,9282,8,65,127.50351,36.103495
2,논산,2017,258,4139,28924,16,112,127.01739,36.158114
3,당진,2017,259,5162,34648,20,134,126.640212,36.894134
4,보령,2017,250,3340,24567,13,98,126.59686,36.351479
5,부여,2017,187,1474,11103,8,60,126.902639,36.275365
6,서산,2017,310,6480,38429,21,127,126.447008,36.776987
7,서천,2017,166,1445,13336,8,80,126.692088,36.00945
8,아산,2017,400,8731,66438,21,166,127.022723,36.771063
9,예산,2017,180,2192,15404,12,85,126.8473,36.680259
10,천안동남,2017,403,8934,37360,22,92,127.156144,36.786788
11,천안서북,2017,442,14124,81886,32,185,127.136831,36.857681
12,청양,2017,130,642,4841,5,37,126.794615,36.463921
13,태안,2017,166,917,8075,5,47,126.288979,36.757472
14,홍성,2017,208,2742,18691,13,89,126.657889,36.588269

In [99]:
df = pd.concat([df_c, df_d])
df

,경찰서명,기준년도,경찰서부서별인원,발생합계,112합계,인당범죄발생건수,인당112신고건수,xmap,ymap
0,공주,2017,242,3201,31932,13,132,127.11049,36.456455
1,금산,2017,142,1162,9282,8,65,127.50351,36.103495
2,논산,2017,258,4139,28924,16,112,127.01739,36.158114
3,당진,2017,259,5162,34648,20,134,126.640212,36.894134
4,보령,2017,250,3340,24567,13,98,126.59686,36.351479
5,부여,2017,187,1474,11103,8,60,126.902639,36.275365
6,서산,2017,310,6480,38429,21,127,126.447008,36.776987
7,서천,2017,166,1445,13336,8,80,126.692088,36.00945
8,아산,2017,400,8731,66438,21,166,127.022723,36.771063
9,예산,2017,180,2192,15404,12,85,126.8473,36.680259
10,천안동남,2017,403,8934,37360,22,92,127.156144,36.786788
11,천안서북,2017,442,14124,81886,32,185,127.136831,36.857681
12,청양,2017,130,642,4841,5,37,126.794615,36.463921
13,태안,2017,166,917,8075,5,47,126.288979,36.757472
14,홍성,2017,208,2742,18691,13,89,126.657889,36.588269
0,대전대덕,2017,333,5716,41054,17,123,127.429395,36.371255
1,대전동부,2017,463,8020,58268,17,125,127.429395,36.371255
2,대전둔산,2017,420,9039,53794,21,128,127.38043,36.358191
3,대전서부,2017,360,6389,49266,17,137,127.373114,36.308669
4,대전유성,2017,426,8893,49584,20,116,127.325472,36.37862
5,대전중부,2017,446,9124,63526,20,142,127.422688,36.326757

In [100]:
# 충남청 / 대전청 / 대전파출소 / 서대전지구대 / 대전역지구대 / 세종 / 세종청 / 세종로파출소 / 세종서 / 세종남부서 / 세종북부서 / 세종대왕파출소

In [101]:
df.loc[len(df)] = ['충남청','','','','','','','36.661151','126.676261']
df.loc[len(df)] = ['대전청','','','','','','','36.354731','127.385806']
df.loc[len(df)] = ['서대전지구대','','','','','','','36.322436','127.414035']
df.loc[len(df)] = ['대전역지구대','','','','','','','36.330565','127.434243']
df.loc[len(df)] = ['세종청','','','','','','','36.487829','127.301608']
df.loc[len(df)] = ['세종남부서','','','','','','','36.480830','127.292627']
df.loc[len(df)] = ['세종북부서','','','','','','','36.588202','127.294957']

In [105]:
df = df.reset_index()

In [106]:
df = df.drop(['index'], axis = 1)

In [109]:
df = df.drop(15, axis = 0)

In [110]:
df

,경찰서명,기준년도,경찰서부서별인원,발생합계,112합계,인당범죄발생건수,인당112신고건수,xmap,ymap
0,공주,2017,242,3201,31932,13,132,127.11049,36.456455
1,금산,2017,142,1162,9282,8,65,127.50351,36.103495
2,논산,2017,258,4139,28924,16,112,127.01739,36.158114
3,당진,2017,259,5162,34648,20,134,126.640212,36.894134
4,보령,2017,250,3340,24567,13,98,126.59686,36.351479
5,부여,2017,187,1474,11103,8,60,126.902639,36.275365
6,서산,2017,310,6480,38429,21,127,126.447008,36.776987
7,서천,2017,166,1445,13336,8,80,126.692088,36.00945
8,아산,2017,400,8731,66438,21,166,127.022723,36.771063
9,예산,2017,180,2192,15404,12,85,126.8473,36.680259
10,천안동남,2017,403,8934,37360,22,92,127.156144,36.786788
11,천안서북,2017,442,14124,81886,32,185,127.136831,36.857681
12,청양,2017,130,642,4841,5,37,126.794615,36.463921
13,태안,2017,166,917,8075,5,47,126.288979,36.757472
14,홍성,2017,208,2742,18691,13,89,126.657889,36.588269
16,대전동부,2017,463,8020,58268,17,125,127.429395,36.371255
17,대전둔산,2017,420,9039,53794,21,128,127.38043,36.358191
18,대전서부,2017,360,6389,49266,17,137,127.373114,36.308669
19,대전유성,2017,426,8893,49584,20,116,127.325472,36.37862
20,대전중부,2017,446,9124,63526,20,142,127.422688,36.326757
21,충남청,,,,,,,36.661151,126.676261
22,대전청,,,,,,,36.354731,127.385806
23,서대전지구대,,,,,,,36.322436,127.414035
24,대전역지구대,,,,,,,36.330565,127.434243
25,세종청,,,,,,,36.487829,127.301608
26,세종남부서,,,,,,,36.480830,127.292627
27,세종북부서,,,,,,,36.588202,127.294957